<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>

    <link rel="stylesheet" type="text/css" href="./css/bookinfo.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="./dhtml/index.js"></script>
    <script type="text/javascript" src="./scripts/info.js"></script>
  </head>
  <body>
    <!--If logged in, send the HTML for user menu. If not, send HTML for login menu. -->
    <% if(loggedIn) { %> <% include ../partials/menu-overlay %> <% } else { %>
    <% include ../partials/login-overlay %> <% } %>

    <header>
      <% include ../partials/header %>
    </header>
    <nav id="main-navigation">
      <% include ../partials/mainNav %>
    </nav>
    <main>
      <section id="book-header">
        <section id="book-header-info">
          <section id="book-header__content">
            <section id="book-header__content-left">
              <img src= <%= book.image %> alt="<%= book.title %>"/>
            </section>
            <section id=book-header__content-right>
              <span id="book-title"><%= book.title %></span>
              <span id="book-author"><%= author.firstName + " " + author.lastName %></span>
            </section>
          </section>
        </section>
      
        <section id="purchase-content">
          <% if(loggedIn) { %> <button id="buy-btn">Buy</button> <% } %>
          <% if(!loggedIn) { %> <h3 id="not-logged-in-purchase-msg">Please log in to buy this item.</h3> <% } %>
        </section>
      </section>
      
      <!--
      <% if(loggedIn) { %> <button id="buy-btn">Buy</button> <% } %>
      <% if(!loggedIn) { %> <h3 id="not-logged-in-purchase-msg">You need to be logged in in order to make a purchase.</h3> <% } %>
      -->
      
      <p id="buy-response-msg"></p>

      <section id="book-more-info" class="bordered-div">
        <h2>More info</h2>
          <ul>
            <li><strong>Author:</strong> <%= author.firstName + " " + author.lastName %></li>
            <li><strong>Publisher:</strong> <%= publisher.name + " (" + publisher.country + ", " + publisher.city + ")" %></li>
            <li><strong>Genre:</strong> <%= book.genre %></li>
          </ul>
          <figure id="author-img-figure">
              <img src= <%= author.image %> alt="<%= author.firstName + " " + author.lastName %>" />
              <figcaption><%= author.firstName + " " + author.lastName %> </figcaption>
          </figure>
      </section>

      <section>
        <h2>Reviews</h2>
        <section id="reviews-section">
          <% if(reviews.length == 0) { %> <p>There are currently no reviews for this book.</p> <% }%>
          <section id="reviews-left">
              <% for(var i = 0; i < reviews.length; i += 2) {%>
                <article class="book-review">
                  <article class="star-rating">
                      <% if(!reviews[i].rating) { reviews[i].rating = 0; } %>
                      <%for(var j = 0; j < reviews[i].rating; j++) { %>
                      <span class="fa fa-star checked"></span>
                      <% } %>
                      <%for(var k = 5; k > reviews[i].rating; k--) {%>
                        <span class="fa fa-star"></span>
                      <% } %>
                  </article>
                  <h3><%= reviews[i].title%></h3>
                  <% if(reviews[i].anonymous) {%><h4>Anonymous, <%= reviews[i].date%></h4> <% } %>
                  <% if(!reviews[i].anonymous) {%><h4><%= reviews[i].firstName + " " + reviews[i].lastName + ", " + reviews[i].date%></h4> <% } %>
                  <p><%= reviews[i].content %></p>
                </article>
                <% }%>
          </section>
          
          <section id="reviews-right">
              <% for(var i = 1; i < reviews.length; i += 2) {%>
                <article class="book-review">
                  <article class="star-rating">
                      <% if(!reviews[i].rating) { reviews[i].rating = 0; } %>
                      <%for(var j = 0; j < reviews[i].rating; j++) { %>
                      <span class="fa fa-star checked"></span>
                      <% } %>
                      <%for(var k = 5; k > reviews[i].rating; k--) {%>
                        <span class="fa fa-star"></span>
                      <% } %>
                  </article>
                  <h3><%= reviews[i].title%></h3>
                  <% if(reviews[i].anonymous) {%><h4>Anonymous, <%= reviews[i].date%></h4> <% } %>
                  <% if(!reviews[i].anonymous) {%><h4><%= reviews[i].firstName + " " + reviews[i].lastName + ", " + reviews[i].date%></h4> <% } %>
                  <p><%= reviews[i].content %></p>
                </article>
                <% }%>
          </section>
        </section>
      </section>

      <%if(loggedIn) {%>
      <section id="write-review-section">
        <h2>Rate this book</h2>
        <section id="write-review-stars">
          <p>Your rating:
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </p>
        </section>        
        <form id="write-review-form">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Title..." required autofocus />
            <label for="content">Your review:</label><br>
            <textarea rows = "10" cols = "30" name="content" required>
            </textarea><br>
            <label for="anon">Stay anonymous?</label>
            <input type="checkbox" name="anon" id="anon" value="Anonymous"/>
            <input type="submit" value="Submit">
          </form>
          <p id="successful-review-submit"></p>
      </section>
      <% } %>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
