<!-- This is the profile page. Here you can see your reviews and purchases -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="./css/profile.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="dhtml/index.js"></script>
    <script type="text/javascript" src="scripts/profile.js"></script>
  </head>
  <body>
    <!--If logged in, send the HTML for user menu. If not, send HTML for login menu. -->
    <% if(loggedIn) { %> <% include ../partials/menu-overlay %> <% } else { %>
    <% include ../partials/login-overlay %> <% } %>

    <header>
      <% include ../partials/header ) %>
    </header>
    <nav id="main-navigation">
      <% include ../partials/mainNav %>
    </nav>
    <main>
      <h1><%= fname + " " + lname %></h1>
      <h2 id="user-purchases-title"><%= 'Your purchases (' + purchases.length + ')'%></h2>
      <section id="user-purchase-container" class="user-profile-container">
        <% for(let x = 0; x < purchases.length; x++) { %>
        <article class="user-profile-container__purchase">
          <section>
            <h3><%= purchases[x].title %></h3>
            <h4><%= purchases[x].date %></h4>
          </section>
          <img src= <%=  purchases[x].image %> >
        </article>
        <% } %>
      </section>
      <h2><%= 'Your reviews (' + reviews.length + ')'%></h2>
      <section class="user-profile-container">
        <% for(let x = 0; x < reviews.length; x++) { %>
        <article class="user-profile-container__review">
          <h3><%= reviews[x].bookTitle %></h3>
          <h4><%= reviews[x].date %></h4>
          <p><%= reviews[x].content  %></p>
        </article>
        <% } %>
      </section>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
